<ng-include src="'views/alert.html'"></ng-include>
<p>This is the addshow view.</p>
<form name="showForm" novalidate >
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" ng-model="show.title" required placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="poster">Poster</label>
        <input type="text" class="form-control" id="poster" name="poster" ng-model="show.poster" required placeholder="Enter poster url">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year" name="year" ng-model="show.year" required placeholder="Enter year">
            </div>
            <div class="col-xs-6">
                <label for="seasons">Seasons</label>
                <input type="text" class="form-control" id="seasons" name="seasons" ng-model="show.seasons" required placeholder="Enter seasons">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" name="country" ng-model="show.country" required placeholder="Enter country">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select id="genre" class="form-control" required name="genre" ng-model="show.genre">
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Thriller">Thriller</option>
            <option value="Comedy">Comedy</option>
        </select>
    </div>
    <div class="form-group">
        <label for="summary">Summary</label>
        <textarea type="text" class="form-control" id="summary" name="summary" required ng-model="show.summary" placeholder="Enter summary"></textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-success" ng-disabled="showForm.$invalid" ng-click="submit()">Add</button>
</form>
