<ng-include src="'views/modal.html'"></ng-include>
<ng-include src="'views/alert.html'"></ng-include>
<p>This is the tv shows view.</p>
<div class="row top-buffer"> 
  <div class="col-lg-6">
    <div class="input-group">
      <input type="search" class="form-control" ng-model="query" placeholder="Search shows..." />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="list-group top-buffer">
    <div class="animate-repeat list-group-item" ng-repeat="item in tv.data | filter:query as results">
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-small btn-danger pull-right" ng-click="deleteShow(item._id, $index)">Delete <span class="glyphicon glyphicon-trash"></span></button>
            <button type="button" class="btn btn-small btn-warning pull-right" ng-click="updateShow(item)">Modify <span class="glyphicon glyphicon-pencil"></span></button>
        </div>
        <h1>{{ item.title }}</h1>
        <img ng-src="{{ item.poster }}" alt="{{ item.title }}" />
        <p>Year: {{ item.year }}</p>
        <p>Country: {{ item.country }}</p>
        <p>Seasons: {{ item.seasons }}</p>
        <p>Genre: {{ item.genre }}</p>
        <p>" {{ item.summary }} "</p>
    </div>
    <div class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </div>
</div>